name: Deploy CDK Project

on:
  push:
    branches:
      - master
    paths:
      - 'cdk/**'
      - '.github/workflows/cdk-deploy.yml'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Node.js
        uses: actions/setup-node@v5
        with:
          node-version: '22.x'

      - name: Install dependencies
        working-directory: cdk
        run: |
          npm install

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1

      - name: Deploy CDK
        working-directory: cdk
        run: |
          npm run cdk -- deploy --all --require-approval never
